# Supabase 配置
VITE_SUPABASE_URL=https://gqmldsnxkglkxfxilurc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdxbWxkc254a2dsa3hmeGlsdXJjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMxMTUyMzAsImV4cCI6MjA4ODY5MTIzMH0.YTeSnlPg8BXsckRM35W1Z1uJ6U-_bK2BQIp6HG2UERA
